flow.json
[
    {
        "id": "511c193196243d63",
        "type": "tab",
        "label": "RPi Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f3346aa.d4fc48",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2968a4fcf75e9496",
        "type": "tab",
        "label": "Aedes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57933f921577a835",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2631142d.86f8fc",
        "type": "ui_group",
        "name": "CPU",
        "tab": "2248aa46.11d1c6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4a3f1d17.42abc4",
        "type": "ui_group",
        "name": "SD card",
        "tab": "2248aa46.11d1c6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "8e72d94d.e2b8c8",
        "type": "ui_group",
        "name": "Memory",
        "tab": "2248aa46.11d1c6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c552b4f6.efaca8",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "2248aa46.11d1c6",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false
    },
    {
        "id": "2248aa46.11d1c6",
        "type": "ui_tab",
        "name": "System",
        "icon": "settings",
        "order": 2
    },
    {
        "id": "0949775e186a9189",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1890881e.83819",
        "type": "ui_group",
        "name": "Col1",
        "tab": "c3173234.2636e",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c5f1b8aa.45bc08",
        "type": "ui_group",
        "name": "Actions",
        "tab": "c3173234.2636e",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9a96a8b1.92db78",
        "type": "ui_group",
        "name": "Col2",
        "tab": "c3173234.2636e",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "72fc319.cc425d",
        "type": "ui_group",
        "name": "Col3",
        "tab": "c3173234.2636e",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c3173234.2636e",
        "type": "ui_tab",
        "name": "RPi Control",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "7036a151865231f3",
        "type": "ui_tab",
        "name": "MQTT dashboard",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "47a469b15c9c5f27",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "315f5223aeb1ca5d",
        "type": "ui_group",
        "name": "Default",
        "tab": "7036a151865231f3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db172adca8234e63",
        "type": "ui_group",
        "name": "Default",
        "tab": "19a149e811eb9626",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19a149e811eb9626",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2653a0b0.26d638",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "1890881e.83819",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "fba68adf.14e13",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "RPi Temp.",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "fa5b499.e176cb8"
            ],
            [],
            []
        ]
    },
    {
        "id": "7c8379de.068868",
        "type": "inject",
        "z": "511c193196243d63",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 124.5,
        "y": 88.25,
        "wires": [
            [
                "fba68adf.14e13",
                "972ece2a.3dbe8",
                "6242be99.26ac88"
            ]
        ]
    },
    {
        "id": "fa5b499.e176cb8",
        "type": "function",
        "z": "511c193196243d63",
        "name": "",
        "func": "var str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 80,
        "wires": [
            [
                "2653a0b0.26d638",
                "28b64a2c.b32116"
            ]
        ]
    },
    {
        "id": "683a2b05.736204",
        "type": "ui_button",
        "z": "511c193196243d63",
        "name": "",
        "group": "c5f1b8aa.45bc08",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "1cf31554.2aaa63"
            ]
        ]
    },
    {
        "id": "1cf31554.2aaa63",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Reboot",
        "x": 318,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "38e53dbf.ca594a",
        "type": "ui_button",
        "z": "511c193196243d63",
        "name": "",
        "group": "c5f1b8aa.45bc08",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Shutdown",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 108.5,
        "y": 504.25,
        "wires": [
            [
                "c409cae5.8e4128"
            ]
        ]
    },
    {
        "id": "c409cae5.8e4128",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 329.5,
        "y": 522.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "28b64a2c.b32116",
        "type": "ui_chart",
        "z": "511c193196243d63",
        "name": "",
        "group": "1890881e.83819",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "outputs": 2,
        "x": 690,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "972ece2a.3dbe8",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Load",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "b9372186.ed1a5"
            ],
            [],
            []
        ]
    },
    {
        "id": "6242be99.26ac88",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Free Memory",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "9b301b09.8c0468"
            ],
            [],
            []
        ]
    },
    {
        "id": "b9372186.ed1a5",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "1890881e.83819",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Processor",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b301b09.8c0468",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "9a96a8b1.92db78",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "RAM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "270f61f0.9af05e",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "d70b7556.a0a9e"
            ],
            [],
            []
        ]
    },
    {
        "id": "7ca6ecb.7512014",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "72fc319.cc425d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk",
        "label": "Usage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "d70b7556.a0a9e",
        "type": "function",
        "z": "511c193196243d63",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "7ca6ecb.7512014"
            ]
        ]
    },
    {
        "id": "59103f97.07fed",
        "type": "inject",
        "z": "511c193196243d63",
        "name": "",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "270f61f0.9af05e"
            ]
        ]
    },
    {
        "id": "5d0b75e49fe4bc90",
        "type": "rpi-gpio in",
        "z": "511c193196243d63",
        "name": "",
        "pin": "22",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "68b1d8480f57accb"
            ]
        ]
    },
    {
        "id": "68b1d8480f57accb",
        "type": "mqtt out",
        "z": "511c193196243d63",
        "name": "",
        "topic": "gpio/pin11",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 590,
        "y": 880,
        "wires": []
    },
    {
        "id": "6129eac0.5bdec4",
        "type": "inject",
        "z": "9f3346aa.d4fc48",
        "name": "5 min tick",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "ab1a2405.584fd8",
                "57db43b6.37f54c",
                "e91a3069.06e26"
            ]
        ]
    },
    {
        "id": "f4fc2799.51b558",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "CPU load",
        "label": "%",
        "format": "{{ msg.payload }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 760,
        "y": 600,
        "wires": []
    },
    {
        "id": "23830467.dd874c",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "4a3f1d17.42abc4",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Used",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "10934589.87f3ca",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Load, %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff8000",
            "#aec7e8",
            "#0080ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 780,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "95df7e14.b6609",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "4a3f1d17.42abc4",
        "order": 1,
        "width": 6,
        "height": 6,
        "label": "Storage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 760,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e2fad608.df29c8",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "8e72d94d.e2b8c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "RAM usage",
        "label": "%",
        "format": "{{msg.payload.memusage}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "542d167b.24a938",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "8e72d94d.e2b8c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 740,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "48b90ddd.e18714",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "°C",
        "format": "{{ msg.payload }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0080ff",
            "#ffffff",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "85",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "597cae13.db6de",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "extract",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "542d167b.24a938"
            ]
        ]
    },
    {
        "id": "ba1907da.0fcf28",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert_uptime",
        "func": "var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "fb58a432.8d29b8"
            ]
        ]
    },
    {
        "id": "ab1a2405.584fd8",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "vcgencmd measure_temp| egrep -o \"[0-9]+\\.[0-9]+?\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "read_T",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "48b90ddd.e18714",
                "72d1796e.c403e8",
                "1c785e0a.f62f52",
                "1b181d18705f5369"
            ],
            [],
            []
        ]
    },
    {
        "id": "7805af15.1b74f",
        "type": "Memory",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "e2fad608.df29c8",
                "597cae13.db6de"
            ]
        ]
    },
    {
        "id": "f2adaf57.d9a",
        "type": "Uptime",
        "z": "9f3346aa.d4fc48",
        "name": "Uptime",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "ba1907da.0fcf28"
            ]
        ]
    },
    {
        "id": "72d1796e.c403e8",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 4,
        "width": 6,
        "height": 3,
        "label": "Temperature, °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 719,
        "wires": [
            []
        ]
    },
    {
        "id": "1c785e0a.f62f52",
        "type": "debug",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 760,
        "wires": []
    },
    {
        "id": "fb58a432.8d29b8",
        "type": "ui_text",
        "z": "9f3346aa.d4fc48",
        "group": "8e72d94d.e2b8c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime, d:h:m:s",
        "format": "{{ msg.payload }}",
        "layout": "row-spread",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f0ed260.6ef01e",
        "type": "debug",
        "z": "9f3346aa.d4fc48",
        "name": "Voyer",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "57db43b6.37f54c",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cpu_load",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "f4fc2799.51b558",
                "10934589.87f3ca"
            ],
            [],
            []
        ]
    },
    {
        "id": "e91a3069.06e26",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "df -m | grep root",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "read_sd_usage",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "527cb653.bbcfe8"
            ],
            [],
            []
        ]
    },
    {
        "id": "527cb653.bbcfe8",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert",
        "func": "var msg1,msg2,msg3;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1] / 1000)};\nmsg2 = {topic: 'Free', payload: Math.round(l[3] / 1000)};\nmsg3 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 5,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "95df7e14.b6609"
            ],
            [
                "95df7e14.b6609"
            ],
            [
                "95df7e14.b6609",
                "23830467.dd874c"
            ]
        ]
    },
    {
        "id": "b8be909f.8f951",
        "type": "ui_button",
        "z": "9f3346aa.d4fc48",
        "name": "Next",
        "group": "c552b4f6.efaca8",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 60,
        "wires": [
            [
                "386574b8.d2a82c"
            ]
        ]
    },
    {
        "id": "386574b8.d2a82c",
        "type": "ui_ui_control",
        "z": "9f3346aa.d4fc48",
        "name": "Control tabs",
        "x": 730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c0fec75d.6684b8",
        "type": "ui_button",
        "z": "9f3346aa.d4fc48",
        "name": "Prev",
        "group": "c552b4f6.efaca8",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "386574b8.d2a82c"
            ]
        ]
    },
    {
        "id": "433c8c9d.526bc4",
        "type": "ui_button",
        "z": "9f3346aa.d4fc48",
        "name": "Refresh",
        "group": "c552b4f6.efaca8",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "replay",
        "payload": "{tab:\"\"}",
        "payloadType": "str",
        "topic": "",
        "x": 520,
        "y": 20,
        "wires": [
            [
                "386574b8.d2a82c"
            ]
        ]
    },
    {
        "id": "d9e2f2b.e50341",
        "type": "inject",
        "z": "9f3346aa.d4fc48",
        "name": "1 min tick",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "78da90fa.fd1c4"
            ]
        ]
    },
    {
        "id": "78da90fa.fd1c4",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "date_time",
        "func": "var d_obj = new Date().toString().slice(0, -18); \nmsg.payload = d_obj.slice(0, -6) + '<br>' + d_obj.slice(-5); \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "ca66052d.983ce8"
            ]
        ]
    },
    {
        "id": "ca66052d.983ce8",
        "type": "ui_text",
        "z": "9f3346aa.d4fc48",
        "group": "c552b4f6.efaca8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Date time",
        "label": "",
        "format": "{{ msg.payload }}",
        "layout": "col-center",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7e500f1.0b382",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "UI controls",
        "info": "",
        "x": 720,
        "y": 20,
        "wires": []
    },
    {
        "id": "1b181d18705f5369",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "topic": "sensor/cputemp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 740,
        "y": 920,
        "wires": []
    },
    {
        "id": "71f56412e0a1bd0b",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "name": "Aedes Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "94a8707a2c4a4308",
        "type": "aedes broker",
        "z": "2968a4fcf75e9496",
        "name": "Aedes MQTT Broker",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "71f56412e0a1bd0b"
            ],
            [
                "30bcabc71382bd19"
            ]
        ]
    },
    {
        "id": "30bcabc71382bd19",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "name": "Aedes Publish Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "a92eb1e50a7e0fb2",
        "type": "inject",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "Test",
        "payloadType": "str",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "4195ccca2060a2c5"
            ]
        ]
    },
    {
        "id": "4195ccca2060a2c5",
        "type": "mqtt out",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Publisher",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ce36754784a00e0",
        "type": "mqtt in",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Subscriber",
        "topic": "test",
        "qos": "0",
        "datatype": "auto",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "ed51b3734a88ef79"
            ]
        ]
    },
    {
        "id": "ed51b3734a88ef79",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "35e3dff474d9ee48",
        "type": "mqtt in",
        "z": "2968a4fcf75e9496",
        "name": "cputemp",
        "topic": "sensor/cputemp",
        "qos": "0",
        "datatype": "auto",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "8a135ff883995d1d"
            ]
        ]
    },
    {
        "id": "8a135ff883995d1d",
        "type": "ui_gauge",
        "z": "2968a4fcf75e9496",
        "name": "",
        "group": "315f5223aeb1ca5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "e37cb7c7.144868",
        "type": "switch",
        "z": "57933f921577a835",
        "name": " > 70 or < 65 ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "70",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "65",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "7efd031a02eb3641"
            ],
            []
        ]
    },
    {
        "id": "f1885fc79fae6331",
        "type": "mqtt out",
        "z": "57933f921577a835",
        "name": "",
        "topic": "plc/control_fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 1100,
        "y": 120,
        "wires": []
    },
    {
        "id": "7bc9f3c47e0ba602",
        "type": "mqtt in",
        "z": "57933f921577a835",
        "name": "",
        "topic": "sensor/cputemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 1400,
        "wires": [
            [
                "057be5690fa3dbc0"
            ]
        ]
    },
    {
        "id": "0669e8b9926c71f8",
        "type": "mqtt in",
        "z": "57933f921577a835",
        "name": "",
        "topic": "plc/fan_stats",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "329a875d3d49c36d",
        "type": "ui_text",
        "z": "57933f921577a835",
        "group": "1890881e.83819",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "018236689cfc098e",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temp",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "f52acbb540a49b49"
            ]
        ]
    },
    {
        "id": "f52acbb540a49b49",
        "type": "random",
        "z": "57933f921577a835",
        "name": "",
        "low": "60",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "e37cb7c7.144868"
            ]
        ]
    },
    {
        "id": "035e28ee2ba1c864",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "fanstat",
        "payload": "true",
        "payloadType": "bool",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "329a875d3d49c36d"
            ]
        ]
    },
    {
        "id": "7efd031a02eb3641",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "91315b46c906b388",
        "type": "function",
        "z": "57933f921577a835",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "973d433ca296448b",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "check -> \"0\"",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "4fda245f89d15c4b"
            ]
        ]
    },
    {
        "id": "54cd0eea641a8a3e",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "check -> \"1\"",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 800,
        "y": 1180,
        "wires": [
            [
                "4fda245f89d15c4b"
            ]
        ]
    },
    {
        "id": "5d368d1216d31c6e",
        "type": "change",
        "z": "57933f921577a835",
        "name": "payload to flow",
        "rules": [
            {
                "t": "set",
                "p": "relay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 780,
        "wires": [
            [
                "142d4614.f818aa",
                "c0b966c.6cdca98",
                "305cfdf2.9e8af2"
            ]
        ]
    },
    {
        "id": "4fda245f89d15c4b",
        "type": "change",
        "z": "57933f921577a835",
        "name": "check to flow",
        "rules": [
            {
                "t": "set",
                "p": "check",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "c0b966c.6cdca98",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check == 1)",
        "property": "check",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 920,
        "wires": [
            [
                "a04dcc7.c72123"
            ]
        ]
    },
    {
        "id": "a04dcc7.c72123",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (relay == 1)",
        "property": "relay",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1440,
        "y": 920,
        "wires": [
            [
                "9e1e9f30.858e9"
            ]
        ]
    },
    {
        "id": "9e1e9f30.858e9",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "relay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 920,
        "wires": [
            [
                "cb4c28be.e0f698"
            ]
        ]
    },
    {
        "id": "305cfdf2.9e8af2",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check == 1)",
        "property": "check",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1000,
        "wires": [
            [
                "5c95c53f.3773ec"
            ]
        ]
    },
    {
        "id": "5c95c53f.3773ec",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (relay == 0)",
        "property": "relay",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1440,
        "y": 1000,
        "wires": [
            [
                "6e17ee06.4fa98"
            ]
        ]
    },
    {
        "id": "6e17ee06.4fa98",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "relay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1000,
        "wires": [
            [
                "e48e73ac.33f52"
            ]
        ]
    },
    {
        "id": "618c6bda.b481b4",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 840,
        "wires": []
    },
    {
        "id": "cb4c28be.e0f698",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 920,
        "wires": []
    },
    {
        "id": "e48e73ac.33f52",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 1000,
        "wires": []
    },
    {
        "id": "142d4614.f818aa",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check == 0)",
        "property": "check",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 840,
        "wires": [
            [
                "d451c0c0.03235"
            ]
        ]
    },
    {
        "id": "d451c0c0.03235",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (relay == 1)",
        "property": "relay",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1440,
        "y": 840,
        "wires": [
            [
                "b7a1eef0.026ea"
            ]
        ]
    },
    {
        "id": "b7a1eef0.026ea",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "relay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 840,
        "wires": [
            [
                "618c6bda.b481b4"
            ]
        ]
    },
    {
        "id": "7a8f51bb04a6d7c0",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "relay -> \"1\"",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 820,
        "y": 800,
        "wires": [
            [
                "5d368d1216d31c6e"
            ]
        ]
    },
    {
        "id": "8bf2702708aca886",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "relay -> \"0\"",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 820,
        "y": 760,
        "wires": [
            [
                "5d368d1216d31c6e"
            ]
        ]
    },
    {
        "id": "532d9d154ae2a5af",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "check -> \"0\"",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 770,
        "y": 1780,
        "wires": [
            [
                "fd3ef5021a768c1a"
            ]
        ]
    },
    {
        "id": "0f2372ca1f8bb23a",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "check -> \"1\"",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 770,
        "y": 1820,
        "wires": [
            [
                "fd3ef5021a768c1a"
            ]
        ]
    },
    {
        "id": "d250ccf73da7decd",
        "type": "change",
        "z": "57933f921577a835",
        "name": "payload to flow",
        "rules": [
            {
                "t": "set",
                "p": "fanstats",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "fd3ef5021a768c1a",
        "type": "change",
        "z": "57933f921577a835",
        "name": "check to flow",
        "rules": [
            {
                "t": "set",
                "p": "check",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "ae70fe490e613feb",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check == 1)",
        "property": "check",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 1560,
        "wires": [
            [
                "82e794bc061409ee"
            ]
        ]
    },
    {
        "id": "82e794bc061409ee",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (relay == 1)",
        "property": "relay",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1410,
        "y": 1560,
        "wires": [
            [
                "5e855be97e93ec52"
            ]
        ]
    },
    {
        "id": "5e855be97e93ec52",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "relay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1560,
        "wires": [
            [
                "1567f6f3f6f6a1fe"
            ]
        ]
    },
    {
        "id": "f9ce671f56b519ad",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check == 1)",
        "property": "check",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 1640,
        "wires": [
            [
                "8f8bebedc5bf7fcb"
            ]
        ]
    },
    {
        "id": "8f8bebedc5bf7fcb",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (relay == 0)",
        "property": "relay",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1410,
        "y": 1640,
        "wires": [
            [
                "45b6ae7a610f8903"
            ]
        ]
    },
    {
        "id": "45b6ae7a610f8903",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "relay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1640,
        "wires": [
            [
                "1fd1aea8d454ebfb"
            ]
        ]
    },
    {
        "id": "2a2bbe553520dd73",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1567f6f3f6f6a1fe",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1fd1aea8d454ebfb",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e3f2e2c0b95c4dc3",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check == 0)",
        "property": "check",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 1480,
        "wires": [
            [
                "59ca48ed5c01067f"
            ]
        ]
    },
    {
        "id": "59ca48ed5c01067f",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (relay == 1)",
        "property": "relay",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1410,
        "y": 1480,
        "wires": [
            [
                "811b6071b678100b"
            ]
        ]
    },
    {
        "id": "811b6071b678100b",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "relay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1480,
        "wires": [
            [
                "2a2bbe553520dd73"
            ]
        ]
    },
    {
        "id": "49e454af09273658",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1360,
        "wires": []
    },
    {
        "id": "06a8ea2b09034514",
        "type": "mqtt in",
        "z": "57933f921577a835",
        "name": "",
        "topic": "gpio/pin11",
        "qos": "2",
        "datatype": "json",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 980,
        "y": 1360,
        "wires": [
            [
                "49e454af09273658"
            ]
        ]
    },
    {
        "id": "057be5690fa3dbc0",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1400,
        "wires": []
    },
    {
        "id": "bc9cf0a98e6d434c",
        "type": "toggle",
        "z": "57933f921577a835",
        "name": "toggle_fan",
        "onOffTopic": "fan_stat",
        "onValue": "1",
        "onType": "str",
        "offValue": "0",
        "offType": "str",
        "toggleTopic": "fan_stat",
        "toggleValue": "123",
        "toggleType": "str",
        "passOnOff": "ifChanged",
        "x": 1630,
        "y": 1200,
        "wires": [
            [
                "3d5315dd49f6e44c"
            ]
        ]
    },
    {
        "id": "3d5315dd49f6e44c",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6abffb8bb313ba10",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check == 0)",
        "property": "check",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1360,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "a8eef3439640c356",
        "type": "ui_button",
        "z": "57933f921577a835",
        "name": "",
        "group": "c5f1b8aa.45bc08",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan ON/OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "123",
        "payloadType": "str",
        "topic": "Fan_stat",
        "topicType": "str",
        "x": 1370,
        "y": 1200,
        "wires": [
            [
                "bc9cf0a98e6d434c"
            ]
        ]
    }
]