flow.json
[
    {
        "id": "2968a4fcf75e9496",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "511c193196243d63",
        "type": "tab",
        "label": "RPi Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b0c0aada256f58a",
        "type": "tab",
        "label": "Jetson",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04d6ca3767c80bee",
        "type": "tab",
        "label": "Control FAN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cfaa80b5639b0d61",
        "type": "tab",
        "label": "SenseCAP Terminal",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f3346aa.d4fc48",
        "type": "tab",
        "label": "System",
        "disabled": true,
        "info": ""
    },
    {
        "id": "57933f921577a835",
        "type": "tab",
        "label": "Fan_Control",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "539608b79d63a004",
        "type": "tab",
        "label": "PLC_FAN_GPIO",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "2631142d.86f8fc",
        "type": "ui_group",
        "name": "CPU",
        "tab": "2248aa46.11d1c6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4a3f1d17.42abc4",
        "type": "ui_group",
        "name": "SD card",
        "tab": "2248aa46.11d1c6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "8e72d94d.e2b8c8",
        "type": "ui_group",
        "name": "Memory",
        "tab": "2248aa46.11d1c6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c552b4f6.efaca8",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "2248aa46.11d1c6",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false
    },
    {
        "id": "2248aa46.11d1c6",
        "type": "ui_tab",
        "name": "System",
        "icon": "settings",
        "order": 2
    },
    {
        "id": "0949775e186a9189",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1890881e.83819",
        "type": "ui_group",
        "name": "Col1",
        "tab": "c3173234.2636e",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c5f1b8aa.45bc08",
        "type": "ui_group",
        "name": "Actions",
        "tab": "c3173234.2636e",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9a96a8b1.92db78",
        "type": "ui_group",
        "name": "Col2",
        "tab": "c3173234.2636e",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "72fc319.cc425d",
        "type": "ui_group",
        "name": "Col3",
        "tab": "c3173234.2636e",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c3173234.2636e",
        "type": "ui_tab",
        "name": "RPi Control",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "7036a151865231f3",
        "type": "ui_tab",
        "name": "MQTT dashboard",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "47a469b15c9c5f27",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.65",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "315f5223aeb1ca5d",
        "type": "ui_group",
        "name": "Default",
        "tab": "7036a151865231f3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db172adca8234e63",
        "type": "ui_group",
        "name": "Default",
        "tab": "19a149e811eb9626",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19a149e811eb9626",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7a43587.2944e8",
        "type": "ui_group",
        "name": "Default",
        "tab": "fbd536a.22bf9c8",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbd536a.22bf9c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2e693d5153a74d1a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "reterminalplus.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "71f56412e0a1bd0b",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "name": "Aedes Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "94a8707a2c4a4308",
        "type": "aedes broker",
        "z": "2968a4fcf75e9496",
        "name": "Aedes MQTT Broker",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "71f56412e0a1bd0b"
            ],
            [
                "30bcabc71382bd19"
            ]
        ]
    },
    {
        "id": "30bcabc71382bd19",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "name": "Aedes Publish Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "a92eb1e50a7e0fb2",
        "type": "inject",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "Test",
        "payloadType": "str",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "4195ccca2060a2c5"
            ]
        ]
    },
    {
        "id": "4195ccca2060a2c5",
        "type": "mqtt out",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Publisher",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e693d5153a74d1a",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ce36754784a00e0",
        "type": "mqtt in",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Subscriber",
        "topic": "test",
        "qos": "0",
        "datatype": "auto",
        "broker": "2e693d5153a74d1a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "ed51b3734a88ef79"
            ]
        ]
    },
    {
        "id": "ed51b3734a88ef79",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "name": "MQTT Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "35e3dff474d9ee48",
        "type": "mqtt in",
        "z": "2968a4fcf75e9496",
        "name": "cputemp",
        "topic": "sensor/cputemp",
        "qos": "0",
        "datatype": "auto",
        "broker": "2e693d5153a74d1a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "8a135ff883995d1d"
            ]
        ]
    },
    {
        "id": "8a135ff883995d1d",
        "type": "ui_gauge",
        "z": "2968a4fcf75e9496",
        "name": "",
        "group": "315f5223aeb1ca5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "2653a0b0.26d638",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "1890881e.83819",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "fba68adf.14e13",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "RPi Temp.",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "fa5b499.e176cb8"
            ],
            [],
            []
        ]
    },
    {
        "id": "7c8379de.068868",
        "type": "inject",
        "z": "511c193196243d63",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 124.5,
        "y": 88.25,
        "wires": [
            [
                "fba68adf.14e13",
                "972ece2a.3dbe8",
                "6242be99.26ac88"
            ]
        ]
    },
    {
        "id": "fa5b499.e176cb8",
        "type": "function",
        "z": "511c193196243d63",
        "name": "",
        "func": "var str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 80,
        "wires": [
            [
                "2653a0b0.26d638",
                "28b64a2c.b32116"
            ]
        ]
    },
    {
        "id": "683a2b05.736204",
        "type": "ui_button",
        "z": "511c193196243d63",
        "name": "",
        "group": "c5f1b8aa.45bc08",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "1cf31554.2aaa63"
            ]
        ]
    },
    {
        "id": "1cf31554.2aaa63",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Reboot",
        "x": 318,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "38e53dbf.ca594a",
        "type": "ui_button",
        "z": "511c193196243d63",
        "name": "",
        "group": "c5f1b8aa.45bc08",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Shutdown",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 108.5,
        "y": 504.25,
        "wires": [
            [
                "c409cae5.8e4128"
            ]
        ]
    },
    {
        "id": "c409cae5.8e4128",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 329.5,
        "y": 522.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "28b64a2c.b32116",
        "type": "ui_chart",
        "z": "511c193196243d63",
        "name": "",
        "group": "1890881e.83819",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "972ece2a.3dbe8",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Load",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "b9372186.ed1a5"
            ],
            [],
            []
        ]
    },
    {
        "id": "6242be99.26ac88",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Free Memory",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "9b301b09.8c0468"
            ],
            [],
            []
        ]
    },
    {
        "id": "b9372186.ed1a5",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "1890881e.83819",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Processor",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b301b09.8c0468",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "9a96a8b1.92db78",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "RAM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "270f61f0.9af05e",
        "type": "exec",
        "z": "511c193196243d63",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Disk Usage",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "d70b7556.a0a9e"
            ],
            [],
            []
        ]
    },
    {
        "id": "7ca6ecb.7512014",
        "type": "ui_gauge",
        "z": "511c193196243d63",
        "name": "",
        "group": "72fc319.cc425d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk",
        "label": "Usage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "d70b7556.a0a9e",
        "type": "function",
        "z": "511c193196243d63",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "7ca6ecb.7512014"
            ]
        ]
    },
    {
        "id": "59103f97.07fed",
        "type": "inject",
        "z": "511c193196243d63",
        "name": "",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "270f61f0.9af05e"
            ]
        ]
    },
    {
        "id": "5b55417ebc5b77b6",
        "type": "ui_text",
        "z": "6b0c0aada256f58a",
        "group": "72fc319.cc425d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Number of People",
        "format": "{{msg.num_people}}",
        "layout": "row-spread",
        "className": "",
        "x": 1310,
        "y": 320,
        "wires": []
    },
    {
        "id": "382efdde102aab89",
        "type": "comment",
        "z": "6b0c0aada256f58a",
        "name": "Jetson People Counting",
        "info": "Couting people with coco-net model on jetson",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "6276dc539a31010c",
        "type": "mqtt in",
        "z": "6b0c0aada256f58a",
        "name": "",
        "topic": "jetson/num_person_image",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2e693d5153a74d1a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 540,
        "wires": [
            [
                "7fc5c7a6d9f3c29d",
                "3e290b9c4040e460"
            ]
        ]
    },
    {
        "id": "7fc5c7a6d9f3c29d",
        "type": "template",
        "z": "6b0c0aada256f58a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"640px\" height=\"480px\" src=\"data:image/jpg;base64,{{{payload.image}}}\">",
        "output": "str",
        "x": 900,
        "y": 540,
        "wires": [
            [
                "c568168db561a16c",
                "dacaa6dc6cd9b8f3"
            ]
        ]
    },
    {
        "id": "c568168db561a16c",
        "type": "ui_template",
        "z": "6b0c0aada256f58a",
        "group": "c7a43587.2944e8",
        "name": "",
        "order": 1,
        "width": 13,
        "height": 11,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "dacaa6dc6cd9b8f3",
        "type": "debug",
        "z": "6b0c0aada256f58a",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "1c9124e9.e36edb",
        "type": "inject",
        "z": "6b0c0aada256f58a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1889,
        "y": 1074,
        "wires": [
            []
        ]
    },
    {
        "id": "48a892ea.b7576c",
        "type": "debug",
        "z": "6b0c0aada256f58a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2285,
        "y": 1171,
        "wires": []
    },
    {
        "id": "3e290b9c4040e460",
        "type": "function",
        "z": "6b0c0aada256f58a",
        "name": "function 1",
        "func": "var newMsg = msg.payload.result.labels;\n\nvar head = 0;\nvar hard_hat = 0;\nfor (var i = 0; i < newMsg.length; ++i) {\n    if (newMsg[i] == \"head\"){\n        head++; \n    }\n    if (newMsg[i] == \"hard_hat\"){\n        hard_hat++;\n    }\n}\nvar people = head + hard_hat;\nvar msg1 = { payload: head };\nvar msg2 = { payload: hard_hat };\nvar msg3 = { payload: people };\nreturn [head_count, hard_hat_count, num_people];\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "599c976b89065896",
                "f1eba6952e51e4e3",
                "4ee0059d689b7373",
                "b4a1a38879875498"
            ]
        ]
    },
    {
        "id": "6cfdc3020c48133a",
        "type": "ui_text",
        "z": "6b0c0aada256f58a",
        "group": "72fc319.cc425d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "People With Hat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1280,
        "y": 440,
        "wires": []
    },
    {
        "id": "c80dd1f2efe53590",
        "type": "ui_text",
        "z": "6b0c0aada256f58a",
        "group": "72fc319.cc425d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "People Without Hat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "599c976b89065896",
        "type": "change",
        "z": "6b0c0aada256f58a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "head_count",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "c80dd1f2efe53590"
            ]
        ]
    },
    {
        "id": "f1eba6952e51e4e3",
        "type": "change",
        "z": "6b0c0aada256f58a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hard_hat_count",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "6cfdc3020c48133a"
            ]
        ]
    },
    {
        "id": "4ee0059d689b7373",
        "type": "change",
        "z": "6b0c0aada256f58a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "num_people",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "5b55417ebc5b77b6"
            ]
        ]
    },
    {
        "id": "b4a1a38879875498",
        "type": "debug",
        "z": "6b0c0aada256f58a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 520,
        "wires": []
    },
    {
        "id": "a9d5c908201f91f2",
        "type": "mqtt in",
        "z": "04d6ca3767c80bee",
        "name": "",
        "topic": "plc/fan_stat_pub",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2e693d5153a74d1a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "59aee27d4288385f"
            ]
        ]
    },
    {
        "id": "f3095140cc399c7c",
        "type": "mqtt out",
        "z": "04d6ca3767c80bee",
        "name": "",
        "topic": "plc/fan_stat_ctrl",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e693d5153a74d1a",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "bfa8ce611a34d12c",
        "type": "comment",
        "z": "04d6ca3767c80bee",
        "name": "Getting FAN State from MQTT",
        "info": "Getting FAN State from MQTT",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "453fec2e7a8a2a42",
        "type": "comment",
        "z": "04d6ca3767c80bee",
        "name": "Toggle FAN State with Button",
        "info": "Toggle FAN State with Button and sent to MQTT topic: plc/fan_stat_ctrl",
        "x": 200,
        "y": 260,
        "wires": []
    },
    {
        "id": "59aee27d4288385f",
        "type": "ui_switch",
        "z": "04d6ca3767c80bee",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "1890881e.83819",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "plc/fan_stat_pub",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "f3095140cc399c7c",
                "87dbcd52643ddbeb"
            ]
        ]
    },
    {
        "id": "87dbcd52643ddbeb",
        "type": "debug",
        "z": "04d6ca3767c80bee",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "76481a5d5a955aa7",
        "type": "mqtt in",
        "z": "cfaa80b5639b0d61",
        "name": "",
        "topic": "/topic/ST_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e693d5153a74d1a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "a5190cee1e6b2cb3"
            ]
        ]
    },
    {
        "id": "14ca4f1582ad2a1f",
        "type": "mqtt out",
        "z": "cfaa80b5639b0d61",
        "name": "",
        "topic": "/topic/ST_status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e693d5153a74d1a",
        "x": 1140,
        "y": 520,
        "wires": []
    },
    {
        "id": "a5190cee1e6b2cb3",
        "type": "debug",
        "z": "cfaa80b5639b0d61",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "375bad1dcb76dd56",
        "type": "random",
        "z": "cfaa80b5639b0d61",
        "name": "",
        "low": "1",
        "high": "2",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 520,
        "wires": [
            [
                "14ca4f1582ad2a1f"
            ]
        ]
    },
    {
        "id": "2752a2ab094ad5f5",
        "type": "inject",
        "z": "cfaa80b5639b0d61",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 520,
        "wires": [
            [
                "375bad1dcb76dd56"
            ]
        ]
    },
    {
        "id": "6129eac0.5bdec4",
        "type": "inject",
        "z": "9f3346aa.d4fc48",
        "name": "5 min tick",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "ab1a2405.584fd8",
                "57db43b6.37f54c",
                "e91a3069.06e26"
            ]
        ]
    },
    {
        "id": "f4fc2799.51b558",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "CPU load",
        "label": "%",
        "format": "{{ msg.payload }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 760,
        "y": 600,
        "wires": []
    },
    {
        "id": "23830467.dd874c",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "4a3f1d17.42abc4",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Used",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "10934589.87f3ca",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Load, %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff8000",
            "#aec7e8",
            "#0080ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 780,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "95df7e14.b6609",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "4a3f1d17.42abc4",
        "order": 1,
        "width": 6,
        "height": 6,
        "label": "Storage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 760,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e2fad608.df29c8",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "8e72d94d.e2b8c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "RAM usage",
        "label": "%",
        "format": "{{msg.payload.memusage}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "542d167b.24a938",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "8e72d94d.e2b8c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 740,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "48b90ddd.e18714",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "°C",
        "format": "{{ msg.payload }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0080ff",
            "#ffffff",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "85",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "597cae13.db6de",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "extract",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "542d167b.24a938"
            ]
        ]
    },
    {
        "id": "ba1907da.0fcf28",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert_uptime",
        "func": "var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "fb58a432.8d29b8"
            ]
        ]
    },
    {
        "id": "ab1a2405.584fd8",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "vcgencmd measure_temp| egrep -o \"[0-9]+\\.[0-9]+?\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "read_T",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "48b90ddd.e18714",
                "72d1796e.c403e8",
                "1c785e0a.f62f52",
                "1b181d18705f5369"
            ],
            [],
            []
        ]
    },
    {
        "id": "7805af15.1b74f",
        "type": "Memory",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "e2fad608.df29c8",
                "597cae13.db6de"
            ]
        ]
    },
    {
        "id": "f2adaf57.d9a",
        "type": "Uptime",
        "z": "9f3346aa.d4fc48",
        "name": "Uptime",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "ba1907da.0fcf28"
            ]
        ]
    },
    {
        "id": "72d1796e.c403e8",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "2631142d.86f8fc",
        "order": 4,
        "width": 6,
        "height": 3,
        "label": "Temperature, °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 719,
        "wires": [
            []
        ]
    },
    {
        "id": "1c785e0a.f62f52",
        "type": "debug",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 760,
        "wires": []
    },
    {
        "id": "fb58a432.8d29b8",
        "type": "ui_text",
        "z": "9f3346aa.d4fc48",
        "group": "8e72d94d.e2b8c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime, d:h:m:s",
        "format": "{{ msg.payload }}",
        "layout": "row-spread",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f0ed260.6ef01e",
        "type": "debug",
        "z": "9f3346aa.d4fc48",
        "name": "Voyer",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "57db43b6.37f54c",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cpu_load",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "f4fc2799.51b558",
                "10934589.87f3ca"
            ],
            [],
            []
        ]
    },
    {
        "id": "e91a3069.06e26",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "df -m | grep root",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "read_sd_usage",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "527cb653.bbcfe8"
            ],
            [],
            []
        ]
    },
    {
        "id": "527cb653.bbcfe8",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert",
        "func": "var msg1,msg2,msg3;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1] / 1000)};\nmsg2 = {topic: 'Free', payload: Math.round(l[3] / 1000)};\nmsg3 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 5,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "95df7e14.b6609"
            ],
            [
                "95df7e14.b6609"
            ],
            [
                "95df7e14.b6609",
                "23830467.dd874c"
            ]
        ]
    },
    {
        "id": "b8be909f.8f951",
        "type": "ui_button",
        "z": "9f3346aa.d4fc48",
        "name": "Next",
        "group": "c552b4f6.efaca8",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 60,
        "wires": [
            [
                "386574b8.d2a82c"
            ]
        ]
    },
    {
        "id": "386574b8.d2a82c",
        "type": "ui_ui_control",
        "z": "9f3346aa.d4fc48",
        "name": "Control tabs",
        "x": 730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c0fec75d.6684b8",
        "type": "ui_button",
        "z": "9f3346aa.d4fc48",
        "name": "Prev",
        "group": "c552b4f6.efaca8",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "386574b8.d2a82c"
            ]
        ]
    },
    {
        "id": "433c8c9d.526bc4",
        "type": "ui_button",
        "z": "9f3346aa.d4fc48",
        "name": "Refresh",
        "group": "c552b4f6.efaca8",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "replay",
        "payload": "{tab:\"\"}",
        "payloadType": "str",
        "topic": "",
        "x": 520,
        "y": 20,
        "wires": [
            [
                "386574b8.d2a82c"
            ]
        ]
    },
    {
        "id": "d9e2f2b.e50341",
        "type": "inject",
        "z": "9f3346aa.d4fc48",
        "name": "1 min tick",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "78da90fa.fd1c4"
            ]
        ]
    },
    {
        "id": "78da90fa.fd1c4",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "date_time",
        "func": "var d_obj = new Date().toString().slice(0, -18); \nmsg.payload = d_obj.slice(0, -6) + '<br>' + d_obj.slice(-5); \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "ca66052d.983ce8"
            ]
        ]
    },
    {
        "id": "ca66052d.983ce8",
        "type": "ui_text",
        "z": "9f3346aa.d4fc48",
        "group": "c552b4f6.efaca8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Date time",
        "label": "",
        "format": "{{ msg.payload }}",
        "layout": "col-center",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7e500f1.0b382",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "UI controls",
        "info": "",
        "x": 720,
        "y": 20,
        "wires": []
    },
    {
        "id": "1b181d18705f5369",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "topic": "sensor/cputemp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 740,
        "y": 920,
        "wires": []
    },
    {
        "id": "fd3ef5021a768c1a",
        "type": "change",
        "z": "57933f921577a835",
        "name": "check_fan_stat to flow",
        "rules": [
            {
                "t": "set",
                "p": "check_fan_stat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d1326ad3a588b889",
        "type": "mqtt in",
        "z": "57933f921577a835",
        "name": "",
        "topic": "plc/fan_stat_pub",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "fd3ef5021a768c1a",
                "6dce6faa07466e14"
            ]
        ]
    },
    {
        "id": "d250ccf73da7decd",
        "type": "change",
        "z": "57933f921577a835",
        "name": "payload to flow",
        "rules": [
            {
                "t": "set",
                "p": "cpu_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "47d85c04d1f5f541",
                "e7d44c444059fac3",
                "976ba3224262e712"
            ]
        ]
    },
    {
        "id": "47d85c04d1f5f541",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (cpu_temp >= 70)",
        "property": "cpu_temp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "d23582ca1a62a659"
            ]
        ]
    },
    {
        "id": "e7d44c444059fac3",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (cpu_temp <= 65)",
        "property": "cpu_temp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lte",
                "v": "65",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "7a165e8d3fa0377a"
            ]
        ]
    },
    {
        "id": "7bae2d86c932b0f6",
        "type": "random",
        "z": "57933f921577a835",
        "name": "",
        "low": "60",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "d250ccf73da7decd"
            ]
        ]
    },
    {
        "id": "211ae69cdc20b4c0",
        "type": "inject",
        "z": "57933f921577a835",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temp",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "7bae2d86c932b0f6"
            ]
        ]
    },
    {
        "id": "7a165e8d3fa0377a",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check_fan_stat == 1)",
        "property": "check_fan_stat",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 240,
        "wires": [
            [
                "ffa194144317076d",
                "59a68c10f0a2db92"
            ]
        ]
    },
    {
        "id": "d23582ca1a62a659",
        "type": "switch",
        "z": "57933f921577a835",
        "name": "if (check_fan_stat == 0)",
        "property": "check_fan_stat",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 180,
        "wires": [
            [
                "6c4daa6e030815ac",
                "32365d29c693005e"
            ]
        ]
    },
    {
        "id": "6c4daa6e030815ac",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 160,
        "wires": [
            [
                "695eebfd8e14292e",
                "c5f84274f26cc6b7"
            ]
        ]
    },
    {
        "id": "695eebfd8e14292e",
        "type": "mqtt out",
        "z": "57933f921577a835",
        "name": "",
        "topic": "plc/fan_control",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 1440,
        "y": 100,
        "wires": []
    },
    {
        "id": "ffa194144317076d",
        "type": "change",
        "z": "57933f921577a835",
        "name": "flow to payload ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "695eebfd8e14292e",
                "c5f84274f26cc6b7"
            ]
        ]
    },
    {
        "id": "6dce6faa07466e14",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "976ba3224262e712",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "32365d29c693005e",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 100,
        "wires": []
    },
    {
        "id": "59a68c10f0a2db92",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "a95787ca43c5ab62",
        "type": "ui_button",
        "z": "57933f921577a835",
        "name": "",
        "group": "c5f1b8aa.45bc08",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan ON/OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "123",
        "payloadType": "str",
        "topic": "fan_control",
        "topicType": "str",
        "x": 890,
        "y": 460,
        "wires": [
            [
                "89659dcdb5f07540"
            ]
        ]
    },
    {
        "id": "89659dcdb5f07540",
        "type": "toggle",
        "z": "57933f921577a835",
        "name": "toggle_fan",
        "onOffTopic": "gpio/pin11",
        "onValue": "1",
        "onType": "str",
        "offValue": "0",
        "offType": "str",
        "toggleTopic": "fan_control",
        "toggleValue": "123",
        "toggleType": "str",
        "passOnOff": "always",
        "x": 1190,
        "y": 460,
        "wires": [
            [
                "695eebfd8e14292e",
                "c5f84274f26cc6b7"
            ]
        ]
    },
    {
        "id": "c5f84274f26cc6b7",
        "type": "debug",
        "z": "57933f921577a835",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 180,
        "wires": []
    },
    {
        "id": "f8e42ccdfc815f13",
        "type": "mqtt in",
        "z": "539608b79d63a004",
        "name": "",
        "topic": "plc/fan_control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "78e91716cf16b6ad"
            ]
        ]
    },
    {
        "id": "78e91716cf16b6ad",
        "type": "change",
        "z": "539608b79d63a004",
        "name": "payload to flow",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fan_control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "123",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "bf4080c07e339105"
            ]
        ]
    },
    {
        "id": "bf4080c07e339105",
        "type": "toggle",
        "z": "539608b79d63a004",
        "name": "toggle_fan",
        "onOffTopic": "gpio/pin11",
        "onValue": "1",
        "onType": "str",
        "offValue": "0",
        "offType": "str",
        "toggleTopic": "fan_control",
        "toggleValue": "123",
        "toggleType": "str",
        "passOnOff": "always",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "35a61157dd510d5b",
                "730dca043f722ef6",
                "214c2d79117c1a4b"
            ]
        ]
    },
    {
        "id": "35a61157dd510d5b",
        "type": "debug",
        "z": "539608b79d63a004",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "214c2d79117c1a4b",
        "type": "mqtt out",
        "z": "539608b79d63a004",
        "name": "",
        "topic": "plc/fan_stat_ctrl",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "730dca043f722ef6",
        "type": "rpi-gpio out",
        "z": "539608b79d63a004",
        "name": "",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "dbb3633b7b0fd020",
        "type": "mqtt in",
        "z": "539608b79d63a004",
        "name": "",
        "topic": "plc/fan_stat_ctrl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "aa9d147635ae05f8"
            ]
        ]
    },
    {
        "id": "aa9d147635ae05f8",
        "type": "debug",
        "z": "539608b79d63a004",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    }
]